.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.card-container .card {
  position: relative;
  width: 200px;
  padding: 10px;
  border: 1px solid var(--color-background-white);
  border-radius: 10px;
  background-color: var(--color-background-white);
}
.card-container .card:hover {
  background-color: var(--color-background-white);
  border: 1px solid var(--color-background-gray);
}
.card-container .card .card-thumbnail {
  height: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container .card .card-thumbnail .wishlist {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  height: 16px;
  width: 16px;
}
.card-container .card .card-thumbnail svg.wishlist {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.card-container .card .card-thumbnail svg.wishlist:hover path {
  fill: var(--color-background-red);
}
.card-container .card .card-thumbnail img {
  width: 100%;
}

.card-container .card .card-content {
  display: flex;
  flex-direction: column;
  height: 175px;
  justify-content: space-between;
}

.card-container .card .card-content h3 {
  font-weight: normal;
  font-size: 14px;
}

.card-container .card .card-content h3 a {
  color: var(--color-text-black);
  text-decoration: none;
}

.card-container .card .card-content h3 a:hover {
  text-decoration: underline;
}

.card-container .card .card-content .rating {
  display: flex;
  flex-direction: row;
}
.card-container .card .card-content .rating .stars {
  display: flex;
  flex-direction: row;
}
.card-container .card .card-content .rating .stars .star {
}
.card-container .card .card-content .rating .stars .star svg {
}

.card-container .card .card-content .rating .stars .star svg path {
  fill: var(--color-background-gold);
}

.card-container .card .card-content .rating .stars .star.filled {
  display: flex;
  align-items: center;
}

.card-container .card .card-content .card-rating {
}

.card-container .card .card-content .card-price {
  color: var(--color-text-red);
  font-size: 20px;
  font-weight: bold;
}
.card-container .card .card-content .card-add-to-cart {
  background-color: var(--color-background-white);
  color: var(--color-text-black);
  padding: 10px;
  display: block;
  width: 100%;
  border: 1px solid var(--color-background-black);
  border-radius: 10px;
}
.card-container .card .card-content .card-add-to-cart:hover {
  background-color: var(--color-background-black);
  color: var(--color-text-white);
}
