.footer-container {
  background-color: #edf2f8;
}
.footer-container .footer {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
.footer-container .footer .footer-top {
  padding: 20px 0;
}

.footer-container .footer .footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-container .footer .footer-bottom p.copyright {
}

.footer-container .footer .footer-bottom ul.social-media {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.footer-container .footer .footer-bottom ul.social-media li {
}

.footer-container .footer .footer-bottom ul.social-media li a {
  font-size: 30px;
  color: #000;
}
.footer-container .footer .footer-bottom ul.social-media li a :hover {
}
.footer-container .footer .footer-bottom ul.payment {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.footer-container .footer .footer-bottom ul.payment li {
}

.footer-container .footer .footer-bottom ul.payment li a {
  font-size: 30px;
  color: #000;
}

.footer-container .footer .footer-bottom ul.payment li a:hover {
}
