.footer-container {
  background-color: #f6f6f8;
}
.footer-container .footer {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
.footer-container .footer .footer-top {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 28% 19% 19% 28%;
  gap: 2%;
}

.footer-container .footer .footer-top .subscribe {
  position: relative;
}

.footer-container .footer .footer-top .subscribe h3 {
  margin-bottom: 20px;
}

.footer-container .footer .footer-top .subscribe p {
  font-size: 14px;
  color: #878787;
  margin-bottom: 15px;
}

.footer-container .footer .footer-top .subscribe input {
  padding: 15px;
  border-radius: 15px;
  /* border: 0 none;
  box-shadow: 0 0 12px rgba(0, 0, 0, var(--global-box-shadow, 0.14)) !important; */
  margin-bottom: 20px;
  width: 90%;
  border: 1px solid #000;
}
/* .footer-container .footer .footer-top .subscribe input:active,
.footer-container .footer .footer-top .subscribe input:focus-visible {
  border: 0 none;
} */

.footer-container .footer .footer-top .subscribe button {
  margin-left: -40px;
  padding: 13px;
  border-radius: 15px;
  border: 0 none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  right: 37px;
  margin-top: 3px;
}

.footer-container .footer .footer-top .information {
}

.footer-container .footer .footer-top .information h3 {
  margin-bottom: 20px;
}

.footer-container .footer .footer-top .information ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-container .footer .footer-top .information ul li {
  margin-bottom: 10px;
}

.footer-container .footer .footer-top .information ul li a {
  color: #878787;
  text-decoration: none;
  font-size: 14px;
}

.footer-container .footer .footer-top .information ul li a:hover {
  text-decoration: underline;
}

.footer-container .footer .footer-top .shopping {
}

.footer-container .footer .footer-top .shopping h3 {
  margin-bottom: 20px;
}

.footer-container .footer .footer-top .shopping ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-container .footer .footer-top .shopping ul li {
  margin-bottom: 10px;
}

.footer-container .footer .footer-top .shopping ul li a {
  color: #878787;
  text-decoration: none;
  font-size: 14px;
}

.footer-container .footer .footer-top .shopping ul li a:hover {
  text-decoration: underline;
}

.footer-container .footer .footer-top .contacts {
}

.footer-container .footer .footer-top .contacts h3 {
  margin-bottom: 20px;
}

.footer-container .footer .footer-top .contacts ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-container .footer .footer-top .contacts ul li {
  margin-bottom: 10px;
  color: #878787;
  text-decoration: none;
  font-size: 14px;
}

.footer-container .footer .footer-top .contacts ul li a {
}

.footer-container .footer .footer-top .contacts ul li a:hover {
}

.footer-container .footer .footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-container .footer .footer-bottom p.copyright {
}

.footer-container .footer .footer-bottom ul.social-media {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.footer-container .footer .footer-bottom ul.social-media li {
}

.footer-container .footer .footer-bottom ul.social-media li a {
  font-size: 30px;
  color: #000;
}
.footer-container .footer .footer-bottom ul.social-media li a :hover {
}
.footer-container .footer .footer-bottom ul.payment {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.footer-container .footer .footer-bottom ul.payment li {
}

.footer-container .footer .footer-bottom ul.payment li a {
  font-size: 30px;
  color: #000;
}

.footer-container .footer .footer-bottom ul.payment li a:hover {
}
