:root {
  --color-text-white: #ffffff;
  --color-text-black: #000000;
  --color-text-red: #ef262c;
  --color-text-price: #df8c4f;
  --color-background-black: #000000;
  --color-background-light-gray: #eeeeee;
  --color-background-gray: #cccccc;
  --color-background-gold: #ffd700;
  --color-background-red: #ef262c;
  --color-background-white: #ffffff;
  --color-background-accent-hover: #df8c4f;
  --color-background-accent: #f59a57;

  --font-family-roboto: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-roboto);
  background: url("./assets/background.jpg");
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container .content-wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-bottom: 100px;
  gap: 15px;
}

.container .content-wrapper .sidebar {
  background-color: var(--color-background-white);
  border-radius: 10px;
  padding: 15px;
}

.container .content-wrapper .content-primary {
}
