:root {
  --color-text-white: #ffffff;
  --color-text-black: #000000;
  --color-text-red: #ef262c;
  --color-background-black: #000000;
  --color-background-gray: #eeeeee;
  --color-background-gold: #ffd700;
  --color-background-white: #ffffff;

  --font-family-roboto: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-roboto);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container .content-wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-bottom: 100px;
}

.container .content-wrapper .sidebar {
  background-color: var(--color-background-gray);
}

.container .content-wrapper .content-primary {
}
